html {
  height: 100%;
  width: 100%;
}
.calculator {
  width: fit-content;
  height: fit-content;
  margin: auto;
  justify-content: center;
  align-content: center;
  border: 5px solid #292826;
  border-radius: 5px;
  background-color: #292826;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.display {
  grid-column: 1 / -1;
  background-color: darkgray;
  font-size: 60px;
  font-family: 'DS-Digital', monospace;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
}
#clear {
  grid-column: span 2;
}
#clear, #backspace {
  background-color: #f53333;
  border: 1px solid black;
}
#equals {
  background-color: #f57a33
}
button {
  margin: 5px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: #d1d1b6;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:active {
  transform: translateY(1px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #e0e0e0;
}
button:hover {
  cursor: pointer;
}
#display-eetext {
  font-size: 20px;
}
